<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">RChat</h1>
        <div class="row center">
          <h5 class="header col s12 light">RChat is a Modern Web Chat Application</h5>
        </div>
        <div class="row center">
     
          <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/bg7.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Fast Connect</h5>

            <p class="light">We did most of the heavy lifting for you to provide fast and secure connections. Unlike most web chat application, we give you the most efficient and reliability to ensure that we satisfied our customers and users.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we using Flat Model Design that always keep up with the latest trends. By doing this will enhance our UI and UX experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to Use</h5>

            <p class="light">Just by clicking on Get Started. Will take you to register page and after that you just choose whoever people you want and chat with them!.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">We Connect People All Around The World</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light" style="margin-left:340px">
            <img src="https://scontent-sin1-1.xx.fbcdn.net/v/t1.0-9/12391348_845858058846132_6507309121831362500_n.jpg?oh=af2c1275822cbc66c9a6a77698c5c0cb&oe=582EE7FD" class="img-circular" /> 
            </p>
            <p class="left-align light">
            I'm currently as a second years in Hoa Sen University. If you have any questions or report bugs. Please contact me at this link 
            </p>
            <p class="middle-align light">
            Facebook.com/PCGMikeOn 
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">All of your Conversations are Highly Encrypted to Ensure your Secure</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Coderschool</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        
        <div class="col l3 s12" style="margin-left:50px">
          <h5 class="white-text">Follow us on</h5>
          <ul>
            <li><a class="white-text" href="http://facebook.com">Facebook</a></li>
            <li><a class="white-text" href="http://twitter.com">Twitter</a></li>
            <li><a class="white-text" href="http://google.com">Google+</a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/materialize.js"></script>
  <script src="/assets/js/init.js"></script>

  </body>
</html>
